*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
body{overflow-x: hidden;}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pink: #E5989B;
    --englishLavender: #B5838D;
    --oldLavender: #6D6875;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://images.unsplash.com/photo-1579269896398-4deb6cbdc320?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
    background-size: cover;
    background-position:center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 400ms ease-out;
}

nav.sticky{
    background-color: white;
}
.sticky .navbar ul li a, .sticky ul li i{
    color: black;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    padding: 1em ;
    font-family: 'Montserrat';
    font-weight: bold;
}

.navbar ul li a{
    color: white;
    z-index: 3;
}
.navbar ul li a:hover, .social-links li i:hover{
    color: #ff7f7f;
}
.social-links ul{
    display: flex;
}

.social-links li{
    padding: 1em;
    font-size: 1.5em;
}

.social-links li i{
    color: white;
}

.burger{
    display: none;
}

.burger .line{
    width: 1.5em;
    height: 0.1em;
    margin: 0.4em;
    background-color: white;
}

.topcontent {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.topcontent h1{
    font-size: 70px;
    margin-top: 80px;
}
.topcontent p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.head{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    border-bottom: 2px solid green;
    width: 80%;
    margin: auto;
}

/*  --------------- about section --------------- */
.about-us{
    width: 80%;
    height: 60vh;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-us .text{
    text-align: center;
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us .text .title h1{
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 5px solid green;
    font-family: 'Poppins', sans-serif;
}

.about-us .text .para{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    margin: 2em auto;
}
.svg-container img{
    width: 100%;
    height: 100%;
}

/*---------------------------------------Pricing----------------------------------------*/
.pricing{
    padding: 10vh 0;
}
.pricing-plan{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 15px;
}
 
.pricing-plan_header{
     padding: 25px;
     background: #6d6875;
     color: white;
}
 
.pricing-plan_title{
     margin-top: 10px;
     text-align: center;
     font-size: 1.5em;
     font-weight: 400;
}
.pricing-plan_actions{
     padding: 25px;
     border-top: 1px solid #eeeeee;
     display: flex;
     flex-direction: column;
}
 .pricing-plan_button{
     display: inline-block;
     margin: 15px auto;
     padding: 8px 20px;
     text-decoration: none;
     color: #6d6875;
     background: white;
     border-radius: 5px;
     border: 1px solid #6d6875;
     text-transform: uppercase;
     letter-spacing: 0.02em;
     font-weight: bold;
}
.pricing-plan_button:hover{
     background: #6d6875;
     color: white;
     transition: 0.5s;
}
.pricing-plan_cost{
     margin: 0;
     text-align: center;
     font-size: 2em;
     color: black;
     font-weight: bold;
}
.pricing-plan_text{
     font-size: 0.9em;
     text-align: center;
     margin: 0 0 10px 0;
}

.pricing-plan_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    margin: 5px auto;
    margin-top: 3em;
}

/*-----------------------------------testimonials--------------------------------------*/
.testimonials-heading{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}
.wrapper h1 {
    font-size: 4em;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.wrapper h5{
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper{
    background: linear-gradient( 90deg, white, 0%, #6d6875 90%);
    min-height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}
.card{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
}
.card img{
    height: 90px;
    width: 100px;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 20px;
}
.card p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.card i{
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: white;
}

/*----------------------------------------------footer----------------------------------------------*/
.footer{
    display: flex; 
    background-color: #ffb4a2;
}

.footer-nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    border-right: 1px solid white;
}

.footer-nav ul{
    width: 50%;
    margin: 2em auto;
}

.footer-nav ul li{
    margin-bottom: 10px;
    list-style-type: none;
}

.footer-nav ul a{
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-nav ul a:hover{
    color: #6d6875;
}

.hoodie-images{
    width: 70%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ; */
}

.hoodie-images img{
    width: 230px;
    margin: auto;
}

.copyrights{
    background-color: #6d6875;
    text-align: center;
    font-family: 'Poppins';
    color: white;
    padding: 10px;
}

@media (max-width: 1200px){
    .footer-nav ul{
        margin: 2em 1em;
    }
    .pricing-plan_container { width: 70%;}
}

@media (max-width: 1050px){
    .card {
        width: 30%;
        height: 30%;
    }
}


@media (max-width: 950px){
    .footer-nav ul a{
        font-size: 1.5em;
    }
    .footer-nav ul{
        width: 70%;
        margin: 2em auto;
    }
    .hoodie-images img{
        width: 150px;
    }
    .card i{
        font-size: 35px;
    }
}

@media (max-width: 800px){
    .footer-nav ul a {
        font-size: 1.2em;
    }
    nav{
        position: absolute;
        right: 0;
        display: flex;
        top: 8vh;
        flex-direction: column;
        height: 45vh;
        background-color: #f67676;
        align-items: center;
        transition: all 0.5s ease-in-out;
        z-index: 3;
        opacity: 0;
        width: 60%;
    }
    .navbar ul li a:hover, .social-links li i:hover{
        color: var(--oldLavender);
    }
    body{
        overflow-x: hidden;
    }
    .burger {
        display: block;
        color: white;
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 50%);
    }
    .nav-active{
        opacity: 1;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    nav.sticky{
        background-color: #f67676;
    }
    .sticky .navbar ul li a, .sticky ul li i{
        color: white;
    }
    .pricing-plan_container {
        width: 95%;
    }
    .card{
        width: 60%;
        margin: 3em 0;
    }
    .cards{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    .footer-nav ul a {
        font-size: 1em;
    }
    .hoodie-images img{
        width: 100px;
    }
    .footer-nav{
        border: none;
    }
    .copyrights{
        font-size: 0.8em;
    }
    .pricing-plan_container{
        flex-direction: column;
    }
    .card{width: 85%;}
    .wrapper h1{font-size: 3em;}
}

@media (max-height:900px){
    .wrapper{
        min-height: 90vh;
    }
}