*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

.pricing-plan{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 15px;
    
 }
 
 .pricing-plan_header{
     padding: 25px;
     background: #ff6868;
     color: white;
    
 }
 
 .pricing-plan_title{
     margin: 0;
     text-align: center;
     font-size: 1.5em;
     font-weight: 400;
 }
 
 .pricing-plan_actions{
     padding: 25px;
     border-top: 1px solid #eeeeee;
     display: flex;
     flex-direction: column;
    
 }
 
 .pricing-plan_button{
     display: inline-block;
     margin: 15px auto;
     padding: 8px 20px;
     text-decoration: none;
     color: #ff6868;
     background: white;
     border-radius: 5px;
     border: 1px solid #ff6868;
     text-transform: uppercase;
     letter-spacing: 0.02em;
     font-weight: bold;
 }
 .pricing-plan_button:hover{
     background: #ff6868;
     color: white;
 }
 .pricing-plan_cost{
     margin: 0;
     text-align: center;
     font-size: 2em;
     color: black;
     font-weight: bold;
 }
 .pricing-plan_text{
     font-size: 0.9em;
     text-align: center;
     margin: 0 0 10px 0;
     
 }

 .pricing-plan_container{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }
.testimonials{
        font-size: 4em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    }
.wrapper h1 {
    font-size: 4em;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.wrapper h5{
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
    .wrapper{
    background: linear-gradient( 90deg, white, 0%, #ff6868 90%);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;

}
.card{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
}
.card img{
    height: 90px;
    width: 90px;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 20px;
}
.card p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.card i{
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: white;

}