*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}


li{
    list-style: none;
}
body{overflow-x: hidden;}

a{
    text-decoration: none;
    color: black;
}

:root{
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pink: #E5989B;
    --englishLavender: #B5838D;
    --oldLavender: #6D6875;
}

/*---------hero banner--------------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 400ms ease-out;
}

nav.sticky{
    background-color: white;
}
.sticky .navbar ul li a, .sticky ul li i{
    color: black;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    padding: 1em ;
    font-family: 'Montserrat';
    font-weight: bold;
}

.navbar ul li a{
    color: white;
    z-index: 3;
}
.navbar ul li a:hover, .social-links li i:hover{
    color: #ff7f7f;
}
.social-links ul{
    display: flex;
}

.social-links li{
    padding: 1em;
    font-size: 1.5em;
}

.social-links li i{
    color: white;
}

.burger{
    display: none;
}

.burger .line{
    width: 1.5em;
    height: 0.1em;
    margin: 0.4em;
    background-color: white;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://images.unsplash.com/photo-1583142305729-5cb119ce5d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGVtYWlsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position:center;
}

.topcontent{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.topcontent h1{
    font-size: 70px;
    margin-top: 80px;
}
.topcontent p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*-------------contact form-----------------*/
.contact-container{
    margin: 10vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    background: #ffb4a2;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    margin-top: 15px;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50% ;
    transform: translateY(-50%);
    background: #463b58 ;
}
.content .left-side .details {
    margin: 14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: #463b58;
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 400;
}
.content .left-side .details .text1,
.content .left-side .details .text2{
    font-size: 14px;
    color: #463b58;
}
.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #463b58;
}
.input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.input-box input,
.input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #463b58  ;
    border-radius: 6px;
    padding: 5px 25px;
    resize: none;
}
.input-box [type="text"]{
    color: white;
}
.message-box{
    min-height: 110px;
}
.button{
    display: inline-block;
    margin-top: 12px;
}
.button input[type="button"]{
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #463b58 ;
    cursor: pointer;
    transition: all 0.3 ease;
}
.button input[type="button"]:hover{
    background: #6D6875;
}
::placeholder {
    color: white;
    opacity: 0.5; 
  }
  
.footer{
    display: flex; 
    background-color: var(--melon);
}

.footer-nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    border-right: 1px solid white;
}

.footer-nav ul{
    width: 50%;
    margin: 2em auto;
}

.footer-nav ul li{
    margin-bottom: 10px;
}

.footer-nav ul a{
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-nav ul a:hover{
    color: var(--oldLavender);
}

.hoodie-images{
    width: 70%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ; */
}

.hoodie-images img{
    width: 230px;
    margin: auto;
}

.copyrights{
    background-color: var(--oldLavender);
    text-align: center;
    font-family: 'Poppins';
    color: white;
    padding: 10px;
}

/* ----------- Media queries -------- */
@media (max-width: 1200px){
    .footer-nav ul{
        margin: 2em 1em;
    }
}

@media (max-width: 950px){
    .footer-nav ul a{
        font-size: 1.5em;
    }
    .footer-nav ul{
        width: 70%;
        margin: 2em auto;
    }
    .hoodie-images img{
        width: 150px;
    }
    .container .content .right-side{margin: 75px 0;}
    .container .content{
        flex-direction: column;
    }
    .content .left-side::before { display: none;}

    .container .content .left-side {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 800px){
    .footer-nav ul a {
        font-size: 1.2em;
    }
    nav{
        position: absolute;
        right: 0;
        display: flex;
        top: 8vh;
        flex-direction: column;
        height: 45vh;
        background-color: #f67676;
        align-items: center;
        transition: all 0.5s ease-in-out;
        z-index: 3;
        opacity: 0;
        width: 60%;
    }
    .navbar ul li a:hover, .social-links li i:hover{
        color: var(--oldLavender);
    }
    body{
        overflow-x: hidden;
    }
    .burger {
        display: block;
        color: white;
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 50%);
    }
    .nav-active{
        opacity: 1;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    nav.sticky{
        background-color: #f67676;
    }
    .sticky .navbar ul li a, .sticky ul li i{
        color: white;
    }
}

@media (max-width: 600px){
    .footer-nav ul a {
        font-size: 1em;
    }
    .hoodie-images img{
        width: 100px;
    }
    .footer-nav{
        border: none;
    }
    .copyrights{
        font-size: 0.8em;
    }
    .topcontent{width: 90%;}
    .topcontent h1{font-size: 50px;}
    .container .content .right-side {
        width: 100%;
    }
    .input-box input, .input-box textarea {
        font-size: 13px;
    }
    .content .right-side .topic-text{
        font-size: 20px;
    }
}