*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pink: #E5989B;
    --englishLavender: #B5838D;
    --oldLavender: #6D6875;
}

.hero{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: -1;
}

.overlay .left-overlay{
    background-color: var(--englishLavender);
}

.overlay .right-overlay{
    background-color: var(--apricot);
}

.hero .nav{
    background-color: transparent;
    width: 35vw;
    font-size: 1.5em;
    padding: 1em 2em;
}

.hero .nav ul{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero .nav ul a{
    color: white;
}
.hero .nav ul a:hover{
    color: var(--oldLavender);
}

.hero .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.hero .banner .outer{
    width: 50%;
}
.hero .banner .product-image img{
    width: 350px;
    height: 350px;
}

.hero .banner .text .title{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #000000bd;
}

.hero .banner .text .desc{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */


.socials{
    position: absolute;
    top: 0;
    right: 0px;
    width: 5vw;
    height: 100vh;
    border-left: 1px solid white;
    font-size: 2em;
    text-align: center;
}

.store{
    text-align: center;
    padding: 1em 0;
}

.socials .social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.socials .social-links li{
    margin: 1em 0;
    text-align:  center;
}

.socials .social-links i{
    color: #ff6868;
}

.socials .store i{
    color: var(--oldLavender);
}
.socials .social-links i:hover{
    color: var(--oldLavender);
}

.logo{
    position: absolute;
    top: 0;
    right: 6vw;
    font-size: 3em;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000000bd;
}

.slider{
    position: absolute;
    bottom: 5vh;
    right: 1vw;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.slider .slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: 1s;
    background-color: white;
}
.slider .slides input{
    display: none;
}

.slider img{
    padding: 5px 0;
    height: 90%;
    width: 100%;
}

.manual-nav{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.manual-btn{
    border: 4px solid #a8b7ff;
    margin: 0 5px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.manual-btn:hover{
    background-color: #a8b7ff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.about-us{
    width: 80%;
    height: 60vh;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-us .text{
    text-align: center;
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us .text .title h1{
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 5px solid green;
    font-family: 'Poppins', sans-serif;
}

.about-us .text .para{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 2em auto;
}
.svg-container img{
    width: 100%;
    height: 100%;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */