*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{overflow-x: hidden;}
:root{
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pink: #E5989B;
    --englishLavender: #B5838D;
    --oldLavender: #6D6875;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: 400ms ease-out;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    padding: 1em ;
    font-family: 'Montserrat';
    font-weight: bold;
}

.navbar ul li a{
    color: white;
    z-index: 3;
}
.navbar ul li a:hover, .social-links li i:hover{
    color: #ff7f7f;
}
.social-links ul{
    display: flex;
}

.social-links li{
    padding: 1em;
    font-size: 1.5em;
}

.social-links li i{
    color: white;
}

.burger{
    display: none;
}

.burger .line{
    width: 1.5em;
    height: 0.1em;
    margin: 0.4em;
    background-color: white;
}

.video{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.video video{
    width: 100vw;
    /* height: 100vh;
    object-fit: cover; */
}

footer{
    position: relative;
    z-index:1000;
}
.footer{
    display: flex; 
    background-color: var(--melon);
}

.footer-nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    border-right: 1px solid white;
}

.footer-nav ul{
    width: 50%;
    margin: 2em auto;
}

.footer-nav ul li{
    margin-bottom: 10px;
}

.footer-nav ul a{
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-nav ul a:hover{
    color: var(--oldLavender);
}

.hoodie-images{
    width: 70%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.hoodie-images img{
    width: 230px;
    margin: auto;
}

.copyrights{
    background-color: var(--oldLavender);
    text-align: center;
    font-family: 'Poppins';
    color: white;
    padding: 10px;
}

.mobile{
    display: none;
}
.mobile.active{
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: #19181a;
    color: white;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
.mobile.active .buttons{
    width: 80%;
    display: flex;
    margin-top: 2em;
}
.mobile.active .button{
    width: 40%;
    font-weight: bold;
}
.button{
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 6px;
    background: #463b58 ;
    cursor: pointer;
    width: 40%;
    text-align: center;
    margin: 10px auto;
    transition: all 0.3 ease;
}
.button a{
    color: white;
    display: block;
    width: 100%;
}
.button:hover{
    background: #6D6875;
}

.main.unactive{
    display: none;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 60vh;
    border-radius: 50px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 400ms ease-in;
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  